body{
    margin: auto;
}

.header{
    background-color: beige;
    padding: 0.5rem;
    text-align: center;
}

#header-text {
    color: blue;
    font-size: 1.5rem;
}

#login-btn{
    background-color: blue;
    border-radius: 0.5rem;
    color:white;
    font-size: 1rem;
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.4rem; 
}